@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  body {
    margin: 0;
    min-width: 320px;
    height: 100%;
  }

  /* 浅色主题下的文字选中样式 */
  *::selection {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #4f80cf !important;
  }
  *::-moz-selection {
    background-color: rgba(37, 99, 235, 0.2);
    color: #1e293b !important;
  }

  /* 深色主题下的文字选中样式 */
  .dark *::selection {
    background-color: rgba(195, 214, 255, 0.918);
    color: #ffffff !important;
  }
  .dark *::-moz-selection {
    background-color: rgba(210, 224, 255, 0.4) !important;
    color: #ffffff !important;
  }
}

/* 基础样式设置 */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}

/* 基础链接样式 */
a {
  font-weight: 500;
  text-decoration: inherit;
}

/* 基础标题样式 */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 基础按钮样式 */
button {
  border-radius: 8px;
}

/* 卡片基础样式 */
.card {
  padding: 2em;
}

#app {
  height: 100%;
}
